* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-color: rgb(243 244 249);
  margin-bottom: 50px;
}

/* Style the header */
.header {
  padding: 30px;
  text-align: left;
  font-size: 10px;
  width: 100%;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  margin-right: 160px;
  margin-left: 80px;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
}


/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.profHeader {
  text-align:center;
}


.sidebar {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffff;
  overflow-x: hidden;
  padding-top: 30px;
  padding-right: 80px;
  box-shadow: 2px 2px 2px 2px #d4d4d4;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  font-weight: 100px;
}

.sidebar a:hover {
  color:rgb(121, 123, 130);
}

